table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }

  .mat-header-row {
    background-color: #303f9f; /* Change header row background color */
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #9180a1;
    color:#efefef;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  /* .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  } */
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {

    margin-top: 0px;
    /* margin-top: -20px;  */
  }


  .mat-mdc-table tbody, .mat-mdc-table tfoot, .mat-mdc-table thead, .mat-mdc-cell, .mat-mdc-footer-cell, .mat-mdc-header-row, .mat-mdc-row, .mat-mdc-footer-row, .mat-mdc-table .mat-mdc-header-cell {
    background: #202c34;
    color: white;
  }

  .ab {
    display: flex;
  align-items: center;
  }

  .container {
    display: flex;
    align-items: center;
    margin:  0;
    display: inline;
  } 
/* 
  .cc{
    display: flex;
    align-items: center;
  }  */

  /* .mat-icon {
    font-size: 15px;
  } */

  .sss{
    left: 120px;
  }

  .r{
    margin:  0;
    display: inline;
  }
  .spacer{
    flex: 1 1 auto;
  }


  .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }





  


  

